h1, h2 {
    color: rgb(213, 116, 11);
    text-align: center;
}
body{
    font-family: "Open Sans";
    overflow: hidden;
    background-color: rgb(120, 195, 239);
    /* background: linear-gradient(90deg, rgb(136, 136, 232) 0%, rgb(92, 86, 218) 52%, rgb(111, 111, 201) 100%); */
    background-size: cover;
    margin: 20% auto;
}
button {
    display: block;
    margin: 0 auto;
}

.question-card {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
  }
  
  /* Modal Content/Box */
  .card-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  span {
      display: block;
  }

  .scoreboard {
    background-color: #fefefe;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    border: 1px solid rgb(209, 129, 32);
    width: 200px; /* Could be more or less, depending on screen size */
  }

  img {
      margin: auto;
  }

  #answer1, #answer2, #answer3, #answer4 {
      border: 1px solid rgb(213, 116, 11);
      background-color: bisque;
      height: 40px;
  }

  #timer {
      float: left;
  }