h1 {
    color: rgb(233, 216, 195);
    text-align: center;
    font-size: 70px;
    margin-top: 200px;
}

h2 {
    color: rgb(233, 216, 195);
    text-align: center;
    font-size: 45px;
}

h3 {
    color: rgb(86, 99, 108);
    text-align: center;
    font-size: 30px 
}

body{
    font-family: 'Shrikhand', cursive;
    overflow: hidden;
    background-size: cover; 
    margin: 20% auto;
    background-image: url('../images/image3.JPG');
}
button {
    display: block;
    margin: 0 auto;
    background-color: rgb(233, 216, 195);
    padding: 10px;
    font-family:'Shrikhand', cursive;
    font-size: 20px;
    color: rgb(108, 121, 131);
    border: 5px rgb(189, 181, 168) solid
}

.question-card {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(222, 212, 196); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* text-align: center; */
  }

  .card-content {
    background-color: rgb(233, 216, 195);
    margin: 15% auto;
    padding: 10px;
    border: 3px solid #888;
    width: 80%;
    text-align: center;
  }

  #question {
      margin-top: 10px;
      color:rgb(108, 121, 131);
      font-size: 50px
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  span {
      display: block;
  }

  .scoreboard {
    background-color: rgb(233, 216, 195);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    border: 5px rgb(189, 181, 168) solid;
    width: 220px; 
    font-size: 20px;
    color: rgb(108, 121, 131)
  }

  img {
      margin: auto;
      height: 500px;
      width: auto
  }

  #answer1, #answer2, #answer3, #answer4 {
      border: 1px solid rgb(197, 144, 88);
      background-color: rgb(249, 238, 224);
      height: 50px;
      font-size: 20px;
      color:rgb(119, 138, 173);
      text-align: left;
  }

  #timer {
      float: left;
  }

